body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 20px 0;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.article-text {
    font-size: 16px;
    font-family: Courier, sans-serif;
    text-align: center;
}
.container {
    width: 1060px;
    height: 100%;
    margin: 0 auto;
}

.menu {
    margin: 0 auto;
    padding: 0;
    width: 600px;
}

.menu-item {
    display: inline-block;
    margin-left: 55px;
}

.menu-item-link {
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.main{
    width: 100%;
    background-color: #f5f6f7;
    padding-bottom: 50px;
}

.section-image{
    width: 100%;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color:#16a085;
    text-transform: uppercase;
    display: block;
    width: 190px;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
}

footer{
    width: 100%;
    padding: 20px 0;
}

.footer-text{
    text-align: right;
}